<div class="post-section-title">
  <h4>Travel</h4>
</div>
<div class="row">
   {{#get "posts" filter="tag:travels" include="tags"}}
   {{#foreach posts}}
	<div class="col-lg-4 col-md-6">
		<div class="themeix-post-wrapper wow fadeIn" data-wow-duration="1s">
			<div class="post-thumb height-300" style="background-image:url({{#if feature_image}}{{img_url feature_image}}{{else}}/assets/images/post-thumb.jpg{{/if}}" alt="{{title}}")">
				<a href="gallery-post.html"></a>
			</div>
			<div class="post-details">
				<ul class="post-meta list-inline">
					<li class="list-inline-item">{{tags limit="1"}}</li>
					<li class="list-inline-item">{{date published_at format="D MMM Y"}}</li>
				</ul>
				<h4><a href="{{url}}">{{title}}</a></h4>
                <div class="social-share">
                	{{> 'social_share'}}
                </div>
			</div>
		</div>
	 </div>
	{{/foreach}}
   {{/get}}
</div>