

{{> 'newsletter'}}
<!-- Start Footer -->
<footer class="footer-section bg-color3 section-spacing">
	<div class="container">
		<div class="themeix-footer-widget">
			<ul class="footer-social-link list-inline">
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-facebook"></i></a></li>
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-twitter"></i></a></li>
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-apple"></i></a></li>
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-windows"></i></a></li>
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-pinterest"></i></a></li>
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-linkedin"></i></a></li>
				<li class="list-inline-item"><a class="hvr-push" href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
			<address class="footer-address">
				&copy; Copyright - 2018 <span>Good Morning</span> - Designed by <a href="http://themeix.com">Themeix</a> | Published with <a href="https://ghost.org"><span>Ghost</span></a>
			</address>
		</div>
	</div>
</footer><!-- End Footer -->
<!-- Call Js File -->
<script src="{{asset "js/jquery-3.2.1.min.js"}}"></script> 
<script src="{{asset "js/popper.min.js"}}"></script> 
<script src="{{asset "js/bootstrap.min.js"}}"></script> 
<script src="{{asset "js/owl.carousel.min.js"}}"></script> 
<script src="{{asset "js/jquery.slicknav.min.js"}}"></script> 
<script src="{{asset "js/instafeed.min.js"}}"></script> 
<script src="{{asset "js/highlight.pack.js"}}"></script> 
<script src="{{asset "js/jquery.fitvids.js"}}"></script> 
<script src="{{asset "js/jquery.ghosthunter.js"}}"></script> 
<script src="{{asset "js/wow.min.js"}}"></script> 
<script src="{{asset "js/custom.js"}}"></script>
{{ghost_foot}}
</body>
</html>