<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="Good Morning is A Responsive HTML5 template for Blog site etc website." name="description">
	<meta content="Author Description" name="author">
	<title>Flat by the Tracks</title><!--Call Favicon Icon-->
	<link href="/assets/images/favicon.gif" rel="shortcut icon" type="image/x-icon">
	<link href="/assets/images/favicon.gif" rel="icon" type="image/x-icon"><!-- All Css File Add -->
	<link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/font-awesome.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/owl.carousel.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/slicknav.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/hightlight.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/animate.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/style.css"}}" rel="stylesheet">
	<link href="{{asset "css/responsive.css"}}" rel="stylesheet"><!-- PT+Sans Google Font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	<!-- Start Header -->
	<header class="header-section bg-color1 inner-spacing">
		<div class="container">
            <a class="themeix-brand d-lg-block d-md-none d-sm-none d-zs-none" href="{{@blog.url}}"><img class="img_fluid" src="{{@blog.logo}}" alt="{{@blog.title}}"/></a>
			<nav class="navbar navbar-expand-lg navbar-light themeix-nav">
			  <a class="navbar-brand d-lg-none" href="{{@blog.url}}"><img class="img_fluid" src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
               {{navigation}}
			  </div>
			</nav>


{{!-- 
			<a class="themeix-brand" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="@blog.title"/></a>
			<nav class="themeix-nav">
              {{navigation}}
			</nav> --}}

		</div>
	</header><!-- Modal -->
	<div class="modal fade" id="modal" role="dialog" tabindex="1">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<form action="#" class="search-form form-border">
					 <div class="input-group">
						 <input class="form-control search-field"  placeholder="Your Search..." type="text"> <span class="input-group-btn"><button class="btn btn-primary" type="submit"><span class="input-group-btn">Search</span></button></span>
					  </div>
					</form>
					<div class="search-result"><p class="search-info"></p></div>
				</div>
			</div>
		</div>
	</div><!-- End Header -->