 <ul class="post-social-link list-inline">   
    <li class="list-inline-item">
         <a href="http://facebook.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" onclick="window.open(this.href, 'facebook', 'width=550,height=235');return false;"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="list-inline-item">
         <a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}"  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i aria-hidden="true" class="fa fa-twitter"></i></a>
    </li>
    <li class="list-inline-item">
         <a href="http://plus.google.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" onclick="window.open(this.href, 'google-plus', 'width=550,height=235');return false;"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
    </li>
    <li class="list-inline-item">
         <a href="http://pinterest.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" onclick="window.open(this.href, 'pinterest', 'width=550,height=235');return false;"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
    </li>
</ul>